---
import type { ItemData } from '@models/item-model';

interface Props {
  data: ItemData;
}

const { data } = Astro.props;
const url = `${Astro.url.pathname}/${data.slug}`;
---

<li data-url={url}  class={`grid grid-rows-3 p-4 border-2 border-black w-64 h-48 bg-white
            shadow-[2px_3px_0px_0px_#000000] hover:translate-x-[3px]
            hover:translate-y-[2px] hover:shadow-none transition-all
            cursor-pointer`}>
  <header class="flex gap-1 items-center font-imbplexmonosemi">
    <div class="h-full">
      <h1 class="capitalize leading-4.5 text-balance">{data.title}</h1>
    </div>
    <div class="flex justify-end h-full">
      <span class="inline-block text-right bg-lime-400 w-min h-min p-1 text-xs">{data.tags[0]}</span>
    </div>
  </header>
  <section
    class="row-span-2 flex flex-col h-full justify-between pt-2 text-sm font-roboto text-gray-500"
  >
    <p>{data.description}</p>
    <footer class="text-xs">Last Update: {data.date.toLocaleDateString()}</footer>
  </section>
</li>
